.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex-grow: 1;
}

footer {
  bottom: 0;
  font-size: 20px;
  padding: 0 20px 20px 20px;
}

body, #root, .App {
  min-height: 100vh;
}

.footerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.tabs {
  text-decoration: none;
}

.mainHeader {
  font-size: 80px;
  padding: 0 0 15px 0;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
}

.contentBlock {
  margin: 10px 20px 10px 20px;
  display: flex;
  overflow: scroll;
  height: 70vh;
  width: 100vw;
  padding: 0 15px;
  border: 10px solid black;
}