.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex-grow: 1;
}

footer {
  bottom: 0;
  background-color: grey;
  font-size: 20px;
  padding: 0 20px 0 20px;
}

body, #root, .App {
  min-height: 100vh;
}

header {
  background-color: grey;
}

.footerBox {
  display: flex;
  justify-content: space-between;
}