.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.footerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
  bottom: 0;
  background-color: lightgray;
}

.mainHeader {
  font-size: 80px;
  padding: 0 0 15px 0;
}

.contentBlock {
  display: flex;
  overflow: scroll;
  margin: 10px;
  height: 73vh;
  padding: 5px;
  border: 5px solid black;
}

.homePageContent {
  display: flex;;
}

.homePageText {
  text-align: right;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  font-size: 35px;
  background-color: lightgray;
}

ul {
  display: flex;
}

li {
  list-style: none;
  cursor: pointer;
  margin: 75px;
}

.favoriteProjects {
  display: flex;
}

.favProjectImage {
  max-width: 350px;
  max-height: 500px;
}

.info {
  text-align: right;
  margin: auto;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.contactFormContainer {
  border: 5px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  height: 275px;
  padding: 10px;
}